* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
}

html,
body {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;

  transition: transform 0.1s ease-in;
}

button:hover {
  transform: scale(1.1);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  --section-padding: 1rem 2rem;
  --subtitle-font-size: 2rem;
  --paragraph-font-size: 1.5rem;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--section-padding);
  height: 7.5rem;
  box-shadow: 1px -1px 2px 3px black;
}

.navbar-container > h1 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.navbar-container__cart {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100%;
}

.navbar-container__cart > i {
  position: absolute;
  top: -0.25rem;
  right: -1rem;
  z-index: 5;
  font-weight: bolder;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  border: 1px solid black;

  transition: transform 0.1s ease-in;
}

.navbar-container__cart > i:hover {
  transform: scale(1.3);
}

.navbar-container__cart > svg {
  font-size: 3rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cart-container > h1 {
  font-size: 4rem;
  letter-spacing: 5px;
  margin: 2.5rem 0;
}

.cart-container__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.cart-container__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--section-padding);
  height: 7.5rem;
  box-shadow: 1px 1px 2px 3px black;
  width: 100%;
}

.cart-container__total-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: var(--section-padding);
}

.cart-container__total-info > h2 {
  font-size: var(--subtitle-font-size);
}

.cart-container__total-info > p {
  font-size: var(--paragraph-font-size);
}

.cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border: 3px solid black;
  border-radius: 0.75rem;
  padding: var(--section-padding);
}

.cart-item-container__info > img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.cart-item-container__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.cart-item-container__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.cart-item-container__details > h2 {
  font-size: var(--subtitle-font-size);
}

.cart-item-container__details > p {
  font-size: var(--paragraph-font-size);
}

.cart-item-container__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.cart-item-container__buttons > button {
  font-size: 2rem;
  padding: 0.5rem;
}

.cart-item-container__buttons > p {
  font-size: 3rem;
}

.cart-container > p {
  font-size: 2rem;
  font-weight: bold;
}
